<router-outlet></router-outlet>

<div>
  <tera-button size="xs" color="primary">Button text</tera-button>
  <tera-button size="sm" color="primary">Button text</tera-button>
  <tera-button size="md" color="primary">Button text</tera-button>
  <tera-button size="lg" color="primary">Button text</tera-button>
  <tera-button size="xl" color="primary">Button text</tera-button>
</div>


<div>
  <tera-button size="xs" color="secondary">Button text</tera-button>
  <tera-button size="sm" color="secondary">Button text</tera-button>
  <tera-button size="md" color="secondary">Button text</tera-button>
  <tera-button size="lg" color="secondary">Button text</tera-button>
  <tera-button size="xl" color="secondary">Button text</tera-button>
</div>

<div>
  <tera-button size="xs">Button text</tera-button>
  <tera-button size="sm">Button text</tera-button>
  <tera-button size="md">Button text</tera-button>
  <tera-button size="lg">Button text</tera-button>
  <tera-button size="xl">Button text</tera-button>
</div>

<div>
  <tera-button size="xs" color="primary" rounded>Button text</tera-button>
  <tera-button size="sm" color="primary" rounded>Button text</tera-button>
  <tera-button size="md" color="primary" rounded>Button text</tera-button>
  <tera-button size="lg" color="primary" rounded>Button text</tera-button>
  <tera-button size="xl" color="primary" rounded>Button text</tera-button>
</div>

